<h1>Task Management Application</h1>
<form action="/add-task/">
    <input type="text" name="task">
    <input type="submit">
</form>

<form action="">
    <input type="text" name="search">
    <input type="submit">
</form>

<h2>Tasks</h2>
{% for task in tasks%}
{{ forloop.counter }}. {{task}} --- <a href="/delete-task/{{task.id}}"> Delete Task</a>   <a href="/complete_task/{{forloop.counter}}"> Mark as Complete</a><br>
{% empty %}
No tasks are present
{% endfor %}

<br><br>
<a href="/all_tasks/">All Tasks</a>  ---  <a href="/completed_tasks/">Completed Tasks</a>